.AccessibilityC {
	max-width: $max-width; 
	margin: 0px auto;
	display: flex;
	justify-content: space-between;
	color: $slight-grey;
	width: 100%;
	transition: 0.4s;

	&:hover {
		color: $text-color;
		
	} // AccessibilityC:hover


	.Language {
		position: relative;
		display: inline-block;
		cursor: pointer;
		margin-left: 24px;

		span {
			font-size: 1rem;
			line-height: 2rem;

		} // span - Lanauge Selector

		.Dropdown {
			margin-left: -8px;
			display: none;
			position: absolute;
			background-color: white;
			min-width: 100px;
			color: black;
			box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
			padding: 3px;
			z-index: 1;

			p {
				margin: 0px;
				padding: 3px 9px;
				border: 2px rgba(128,128,128,0) solid;
				text-align: center;
				transition: 0.2s;
				
				&:hover {
					border: 2px grey solid;

				} // p:hover

			} // p

		} // Dropdown Menu

		&:hover {

			.Dropdown {
				display: block;

			} // Dropdown

		} // Language:hover

	} // Language

	.DarkMode__toggle {
		background: papayawhip;
		border-radius: 50px;
		border: 1px solid black;
		height: 20px;
		position: relative;
		width: 40px;
		margin-top: 5px;

		.toggle {
			background: #f68819;
			border-radius: 50px;
			height: 18px;
			left: 0;
			position: absolute;
			transition: 0.2s;
			width: 20px;

		} // toggle

		.toggled {
			left: 18px;

		} // toggled


	} // DarkMode__toggle



} // AccessibilityC