.HelloC {
	color: black;
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 1197px;
	margin: 128px auto;
	background-color: rgba(255,255,255,1);
	border-radius: 16px;

	border: 16px rgba(191,192,192,0.75) solid;
	transition: 0.2s;

	&:hover {
		border: 16px rgba(191,192,192,1) solid;

	} // HelloC:hover

	img {
		max-width: 500px;
		margin: 0px auto;

	} // img

	@include respond-to('medium') {
		max-width: 1226px;
	} // media query - medium

	@include respond-to('xsmall') {

		img {
			max-width: 100%;
		} // img
	} // media query - xsmall

} // HelloC (1st)