.RegisterC {
	color: black;
	margin: 0px auto 192px auto;
	background-color: rgba(252,252,252,1);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	.Title {
		width: 100%;

		h2 {
			min-width: 500px;
			margin: 0px auto;
			padding: 0;
			line-height: 5rem;
			font-size: 2.5rem;
	
		} // h2
	
	} // Title

	.Box {
		min-height: 400px;
		margin-top: 16px;
		padding: 0px 60px;

		input {
			margin-top: 128px;
		} // input

		button {
			margin: 5px 0px;
			max-width: 200px;
		
		} // button

	} // Box

	@include respond-to('small') {
		display: flex;
		flex-direction: column;

		.Title {

			h2 {
				min-width: 0px;
				line-height: 3rem;
				font-size: 2rem;

			}

		} // Title

		.Box {
			min-height: 200px;
			width: 100%;


			input {
				margin-top: 32px;
			} // input

			button {
				margin: 5px 0px;
				max-width: 200px;
			
			} // button

		} // Box

	} // media query - small

} // RegisterC