.ResearchC {
	margin: 128px auto 0px auto;
	padding: 32px 0px;
	text-align: center;
	color: $white;
	background-color: rgba(136,136,136,1);

	.Title {
			margin: 0px 0px 32px 0px;

		h3 {
			margin: 0px;
			font-size: 2rem;

		} // h3

	} // Title

	.Links {
		display: flex;
		justify-content: space-around;
		max-width: 750px;
		margin: 0px auto;

		.Box {

			a {
				background-color: rgba(252,252,252,0.93);
				margin: 0px 18px;
				text-decoration: none;
				padding: 26px 20px 12px 20px;
				box-shadow: 0px 0px 2px black;
				border-radius: 3px;
				transition: 0.2s;

				&:hover {
					background-color: white;
					box-shadow: 0px 0px 6px black;

				} // a:hover

				img {
					width: 92px;

				} // img

			} // a

		} // Box

	} // Links

}  // ResearchC (2nd)